body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #3498db;
    margin: 20px;
}

#contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
}

div {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #258cd1;
}

#progreso-estudiante {
    margin-top: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: #2576b7;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    display: inline-block;
}